database_dsn        = dbi:Pg:host=localhost;dbname=db_name
#database_dsn        = dbi:Oracle:host=emp;sid=emp;port=1521
#database_dsn        = dbi:SQLite:dbname=/path/to/sqlite/db/file.sqlite
#database_dsn        = notdbi:MDBTool:/dbname=path/to/access/db/file.mdb

database_name       = DB_Name
database_user       = db_user
database_password   = password
target_dir          = DataDictionary

schemas             = public

# exclude_schemas     = comma, separated, list, of, schemas, to, exclude
# exclude_tables      = comma, separated, list, of, tables, to, exclude
# schema_name-include_tables
# schema_name-exclude_tables
# exclude_columns
# schema_name-exclude_columns

log_file        = test.log
log_level       = DEBUG
append_log_file = 0
show_sql        = 0

