<!DOCTYPE html>
<html>
  <head>
    [% ta = ['Columns for ', database_name, '.', schema_name] %][% title = ta.join('') %]
    <title>[% title %]</title>
    <meta http-equiv="Content-Type" content="utf-8" />
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="icon" href="../img/favicon.png" type="image/png">
    [% UNLESS no_js %]<script type="text/javascript" src="../js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="../js/jquery.uitablefilter.js"></script>
    <script type="text/javascript" src="../js/dd.columns.js"></script>[% END %]
  </head>
  <body>
[% INCLUDE 'includes/navigation_bar.tt' %]
[% INCLUDE 'includes/db_header.tt' %]
    <div id="ReportDetails">
[% IF columns %]
      <table width="100.0%" [% IF no_js %] class="notablesorter"[% ELSE %]id="tablesorter-data" class="tablesorter"[% END %]>
[% FOR c = columns %][% IF loop.first() %]
        <thead>
        <tr>
          <th>Table</th>
          <th>Column</th>
          <th>Ordinal Position</th>
          <th>Data Type</th>
          <th>Nulls</th>
          <th>Default</th>
          <th>Comment</th>
        </tr>
        </thead>
        <tbody>
    [% END %]
        <tr>
          <td class="TC2"><a href="tables/[% c.0 %].html">[% c.0 %]</a></td>
          <td class="TC2">[% c.1 %]</td>
          <td class="TCn">[% c.2 %]</td>
          <td class="TC2">[% c.3 %]</td>
          <td class="TC2">[% c.4 %]</td>
          <td class="TC2">[% c.5 | html %]</td>
          <td class="TC1"><div class="comments">[% c.6 %]</div></td>
        </tr>
  [% END %]
        </tbody>
      </table>
      <br />
[% ELSE %]
      <p><b>No columns extracted for this schema.</b></p>
[% END %]
    </div>
    <div id="ReportFooter">Report generated by [% bin_file %]<br/>
      <a href="https://github.com/gsiems/DataDict">Github page</a>
    </div>
    <br />
  </body>
</html>
