<!DOCTYPE html>
<html>
  <head>
    [% ta = ['Schemas for ', database_name] %][% title = ta.join('') %]
    <title>[% title %]</title>
    <meta http-equiv="Content-Type" content="utf-8" />
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="icon" href="img/favicon.png" type="image/png">
    [% UNLESS no_js %]<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="js/jquery.uitablefilter.js"></script>
    <script type="text/javascript" src="js/dd.generic.js"></script>[% END %]
  </head>
  <body>
[% IF has_foreign_servers %]
    <div id="NavContainer">
      <ul id="navlist">
        <li><a href="[% nav_prefix %]foreign_servers.html">Foreign servers</a></li>
        <li><a href="[% nav_prefix %]index.html">Schemas</a></li>
      </ul>
    </div>
[% END %]
[% INCLUDE 'includes/db_header.tt' %]
    <div id="ReportDetails">
      <table width="100.0%" [% IF no_js %] class="notablesorter"[% ELSE %]id="tablesorter-data" class="tablesorter"[% END %]>
        <thead>
        <tr>
          <th>Schema</th>
          <th>Owner</th>
          <th>Comment</th>
        </tr>
        </thead>
        <tbody>
[% FOR s = schemas %]
        <tr>
          <td class="TC1"><a href="[% s.0 %]/tables.html">[% s.0 %]</a></td>
          <td class="TC1">[% s.1 %]</td>
          <td class="TC1"><div class="comments">[% s.2 %]</div></td>
        </tr>[% END %]
      </tbody>
      </table>
      <br />
    </div>
    <div id="ReportFooter">Report generated by [% bin_file %]<br/>
      <a href="https://github.com/gsiems/DataDict">Github page</a>
    </div>
    <br />
  </body>
</html>
