<!DOCTYPE html>
<html>
  <head>
    [% ta = ['Diagram files for ', database_name, '.', schema_name] %][% title = ta.join('') %]
    <title>[% title %]</title>
    <meta http-equiv="Content-Type" content="utf-8" />
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="icon" href="../img/favicon.png" type="image/png">
    [% UNLESS no_js %]<script type="text/javascript" src="../js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="../js/jquery.uitablefilter.js"></script>
    <script type="text/javascript" src="../js/dd.generic.js"></script>[% END %]
  </head>
  <body>
[% INCLUDE 'includes/navigation_bar.tt' %]
[% INCLUDE 'includes/db_header.tt' %]
    <div id="ReportDetails">
      <table width="100.0%" [% IF no_js %] class="notablesorter"[% ELSE %]id="tablesorter-data" class="tablesorter"[% END %]>
        <thead>
        <tr>
          <th>Description</th>
          <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="TNoWrapCell">Dependency graph in <a href="http://en.wikipedia.org/wiki/Graph_Modelling_Language">Graph Modelling Language</a> format.</td>
          <td class="TNoWrapCell"><a href="dependencies.gml">gml file</a></td>
        </tr>
<!--        <tr class="TEvenRow">
          <td class="TNoWrapCell">Dependency graph in <a href="http://www.graphviz.org/">GraphViz</a> dot format.</td>
          <td class="TNoWrapCell">dot file</td>
        </tr>
-->
<!--        <tr class="TEvenRow">
          <td class="TNoWrapCell">Entity Relationship Diagram in <a href="http://en.wikipedia.org/wiki/Graph_Modelling_Language">Graph Modelling Language</a> format.</td>
          <td class="TNoWrapCell"><a href="erd.gml">gml file</a></td>
        </tr>
-->
      </tbody>
      </table>
      <br />
    </div>
    <div id="ReportFooter">
Report generated by [% bin_file %]</div>
    <br />
  </body>
</html>

