<!DOCTYPE html>
<html>
  <head>
    [% ta = ['Odd things - ', database_name, '.', schema_name] %][% title = ta.join('') %]
    <title>[% title %]</title>
    <meta http-equiv="Content-Type" content="utf-8" />
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="icon" href="../img/favicon.png" type="image/png">
    [% UNLESS no_js %]<script type="text/javascript" src="../js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="../js/jquery.uitablefilter.js"></script>
    <script type="text/javascript" src="../js/dd.odd-things.js"></script>[% END %]
  </head>
  <body>
[% INCLUDE 'includes/navigation_bar.tt' %]
[% INCLUDE 'includes/db_header.tt' %]
    <div id="ReportDetails">
      <h2>Tables that display potential oddness</h2>
[% IF table_oddities %]
      <table width="100.0%" [% IF no_js %] class="notablesorter"[% ELSE %]id="tablesorter-tables" class="tablesorter"[% END %]>
[% FOR t = table_oddities %][% IF loop.first() %]
        <thead>
          <tr>
          <th>Table</th>
          <th>No PK</th>
          <th>No indices</th>
          <th>Duplicate indices</th>
          <th>Only one column</th>
          <th>No data</th>
          <th>No relationships</th>
          <th>Denormalized?</th>
        </tr>
        </thead>
        <tbody>
    [% END %]
        <tr>
          <td class="TNoWrapCell"><a href="tables/[% t.0 %].html">[% t.0 %]</a></td>
          <td class="TNoWrapCell">[% IF t.1 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
          <td class="TNoWrapCell">[% IF t.2 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
          <td class="TNoWrapCell">[% IF t.3 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
          <td class="TNoWrapCell">[% IF t.4 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
          <td class="TNoWrapCell">[% IF t.5 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
          <td class="TNoWrapCell">[% IF t.6 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
          <td class="TNoWrapCell">[% IF t.7 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
        </tr>
  [% END %]
      </tbody>
      </table>
[% ELSE %]
      <p><b>No table oddities were extracted for this schema.</b></p>
[% END %]
      <br />

      <h2>Columns that display potential oddness</h2>
[% IF column_oddities %]
      <table width="100.0%" [% IF no_js %] class="notablesorter"[% ELSE %]id="tablesorter-columns" class="tablesorter"[% END %]>
[% FOR t = column_oddities %][% IF loop.first() %]
        <thead>
        <tr>
          <th>Table</th>
          <th>Column</th>
          <th>Nullable and part of a unique constraint</th>
          <th>Nullable and part of a unique index</th>
          <th>Nullable with a default value</th>
          <th>Defaults to NULL or 'NULL'</th>
        </tr>
        </thead>
        <tbody>
    [% END %]
        <tr>
          <td class="TNoWrapCell"><a href="tables/[% t.0 %].html">[% t.0 %]</a></td>
          <td class="TNoWrapCell">[% t.1 %]</td>
          <td class="TNoWrapCell">[% IF t.2 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
          <td class="TNoWrapCell">[% IF t.3 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
          <td class="TNoWrapCell">[% IF t.4 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
          <td class="TNoWrapCell">[% IF t.5 %]<img src="../img/alert.png" alt="Is checked">[% END %]</td>
        </tr>
  [% END %]
      </tbody>
      </table>
[% ELSE %]
      <p><b>No column oddities were extracted for this schema.</b></p>
[% END %]
      <br />
<!--
      <h2>Foreign keys with no index</h2>
[% IF index_oddities %]
      <table class="notablesorter">
[% FOR t = index_oddities %][% IF loop.first() %]
        <thead>
        <tr>
          <th>Constraint</th>
          <th>Table</th>
          <th>Columns</th>
          <th>Referenced Table</th>
        </tr>
        </thead>
        <tbody>
    [% END %]
        <tr>
          <td class="TNoWrapCell">[% t.2 %]</td>
          <td class="TNoWrapCell"><a href="tables/[% t.0 %].html">[% t.0 %]</a></td>
          <td class="TNoWrapCell">[% t.1 %]</td>
          <td class="TNoWrapCell">[% t.3 %].<a href="../[% t.3 %]/tables/[% t.4 %].html">[% t.4 %]</a></td>
        </tr>
  [% END %]
      </tbody>
      </table>
[% ELSE %]
      <p><b>No foreign keys sans indices were extracted for this schema.</b></p>
[% END %]
      <br />
-->
    </div>
    <div id="ReportFooter">Report generated by [% bin_file %]<br/>
      <a href="https://github.com/gsiems/DataDict">Github page</a>
    </div>
    <br />
  </body>
</html>
