<!DOCTYPE html>
<html>
  <head>
    [% ta = ['Tables for ', database_name, '.', schema_name] %][% title = ta.join('') %]
    <title>[% title %]</title>
    <meta http-equiv="Content-Type" content="utf-8" />
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="icon" href="../img/favicon.png" type="image/png">
    [% UNLESS no_js %]<script type="text/javascript" src="../js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="../js/jquery.uitablefilter.js"></script>
    <script type="text/javascript" src="../js/dd.generic.js"></script>[% END %]
  </head>
  <body>
[% INCLUDE 'includes/navigation_bar.tt' %]
[% INCLUDE 'includes/db_header.tt' %]
    <div id="ReportDetails">
[% IF tables %]
      <table width="100.0%" [% IF no_js %] class="notablesorter"[% ELSE %]id="tablesorter-data" class="tablesorter"[% END %]>
[% FOR t = tables %][% IF loop.first() %]
        <thead>
        <tr>
          <th>Table</th>
          <th>Owner</th>
          <th>Type</th>
          <th>Rows</th>
          <th>Columns</th>
          <th>Comment</th>
        </tr>
        </thead>
        <tbody>
    [% END %]
        <tr>
          <td class="TNoWrapCell"><a href="tables/[% t.0 %].html">[% t.0 %]</a></td>
          <td class="TNoWrapCell">[% t.1 %]</td>
          <td class="TNoWrapCell">[% t.2 %]</td>
          <td class="TNumericCell">[% t.3 %]</td>
          <td class="TNumericCell">[% t.4 %]</td>
          <td class="TTextCell"><div class="comments">[% t.5 %]</div></td>
        </tr>
  [% END %]
      </tbody>
      </table>
      <br />
[% ELSE %]
      <p><b>No tables extracted for this schema.</b></p>
[% END %]
    </div>
    <div id="ReportFooter">
Report generated by [% bin_file %]</div>
    <br />
  </body>
</html>
